SUPPORTED_PLATFORMS = macosx iphonesimulator iphoneos;
SKIP_INSTALL = YES;
FRAMEWORK_SEARCH_PATHS = $(inherited) $(CONFIGURATION_BUILD_DIR)/RealmSwift.framework/Frameworks;
INFOPLIST_FILE = RealmSwift/Tests/RealmSwiftTests-Info.plist;
PRODUCT_NAME = $(TARGET_NAME);
SWIFT_OBJC_BRIDGING_HEADER = RealmSwift/Tests/RealmSwiftTests-BridgingHeader.h
SWIFT_OPTIMIZATION_LEVEL = -Onone;

LD_RUNPATH_SEARCH_PATHS[sdk=iphone*] = $(inherited) @executable_path/Frameworks @loader_path/Frameworks @loader_path/..;
LD_RUNPATH_SEARCH_PATHS[sdk=macosx*] = $(inherited) @executable_path/../Frameworks @loader_path/../Frameworks @loader_path/../../..;

TEST_HOST[sdk=iphoneos*] = $(BUILT_PRODUCTS_DIR)/TestHost.app/TestHost;
